node_modules/
npm-debug.log
yarn-error.log
coverage/
.DS_Store
*.log

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/app/src/main/assets/index.android.bundle*
*.keystore
!debug.keystore

# iOS
ios/Pods/
ios/build/
ios/Podfile.lock
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/DerivedData/
ios/.xcode.env.local

# Метро/сборка
.metro-health-check*
dist/
